body {
  background: linear-gradient(black, white) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  flex-direction: column;
  text-align: center;
}

button {
  padding: 8px;
  font-size: 2rem;
  font-weight: bolder;
  width: fit-content;
}

img {
  width: 500px;
}

h1 {
  font-size: 3rem;
}

p {
  width: 750px;
  font-size: 1rem;
}